<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TJournal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TJournal.Properties.Settings.ConnectionString" connectionString="Data Source=gty;Persist Security Info=True;User ID=tronkko;Unicode=True;password=kakki97"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <userSettings>
        <TJournal.Properties.Settings>
            <setting name="MouseToCursorMultiplier" serializeAs="String">
                <value>12.8</value>
            </setting>
        </TJournal.Properties.Settings>
    </userSettings>
</configuration>